.logo {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  height: 120px;
  text-decoration: none;
}

.logo__image {
  display: inline-block;
  max-width: 120px;
  vertical-align: middle;
}

.logo__title {
  color: #103273;
  font-weight: bold;
  display: inline-block;
}

.logo__subtitle {
  color: #ccc;
  padding-left: 5px;
  font-size: 12px;
}
